<!-- Page for admin to add book details -->
<!DOCTYPE html>
<html>
<head>
    <title>Add a Book</title>

    <style type="text/css" media="screen">
        body{
            background-color: #d6fdd6;
        }
    </style>
    <!-- Cant get this line to link the css page to this css page -->
    <link rel="stylesheet" type="text/css" href="addBook.css"/>

</head>

<body>
    <h1>Add a book to the library</h1>
    
    <p>Enter details below: </p>
    
    <form method="POST">{%csrf_token%}
        <div class="form-group">
            <input type="text" id="bookName" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form>
</body>
</html>

