
<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
</head>
<body>

	<h3 id="form-title">LOGIN</h3>
	<form method="POST" action="">
		{% csrf_token %}
		<div>
			<input type="text" name="username" placeholder="Username...">
		</div>

		<div>
			<input type="password" name="password" placeholder="Password..." >
		</div>

		<div>
			<input type="submit" value="Login">
		</div>
	</form>

	{% for message in messages %}
		<p id="messages">{{message}}</p>
	{% endfor %}			

	<div>
	Don't have an account? <a href="{% url 'register' %}">Register</a>
	</br>
	View UserFactory Signup? <a href="{% url 'signup' %}">Sign Up</a>
	</div>
	</br>
	<form action="/homepage/">
        <button type="submit" class="returnHome">View Library</button> 
    </form>
	</div>
	
</body>

</html>
