<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
</head>
<body>

<h3 id="form-title">REGISTER ACCOUNT</h3>
<form method="POST" action="">
{% csrf_token %}
	<div> 
		{{form.username}}
	</div>
	<div> 
		{{form.email}}
	</div>
	<div> 
		{{form.password1}}
	</div>
	<div> 
		{{form.password2}}
	</div>
	<div>
		<input type="submit" value="Register Account">
	</div>
</form>

<div> 
	{{form.errors}}
</div>
	
<div>
	Already have an account? <a href="{% url 'login' %}">Login</a>
</div>

<script>
	// Query the input fields
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Username..';
	form_fields[2].placeholder='Email..';
	form_fields[3].placeholder='Enter password...';
	form_fields[4].placeholder='Re-enter Password...';


	for (var field in form_fields){	
		form_fields[field].className += ' form-control'
	}
</script>

</body>
</html>
